#card-el {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
#card-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 190px;
  border-radius: 8px;
  border: 2px solid #91cc8b;
  background-color: #ebffe9;
  box-shadow: 0px 4px 4px 0px #5f995940;
  padding: 1rem;
}
#card-div:hover {
  background-color: #CAFFC5;
}
#inner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  border: 2px solid #91cc8b;
  border-radius: 8px;
  background-color: white;
}
.anim-img {
  width: 50px;
  height: 50px;
}
.card-name-ident {
  font-family: "League Spartan", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 29.44px;
  text-align: left;
  color: #7ABA74;
  width: 100%;
  margin-top: 15px;
}
