#tab-el {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  flex: 1;
  width: 100vw;
}
#tab-head-tit {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 30px;
}
.tab-question {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 58.09px;
  text-align: center;
  color: #424242;
  margin-bottom: -1rem;
}
.tab-bar {
  margin-top: 5px;
  height: 5px;
  background-color: #91cc8b;
  width: 80px;
}
.responsive-table-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#result-tab {
  border: 1px solid hsl(0, 0%, 84%);
  padding: 2rem 2rem 0 2rem;
  margin: 1rem 2rem 1rem 2rem;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.table-head {
  display: flex;
  width: 100%;
}
.table-head-row {
  display: flex;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14pt;
  font-weight: 500;
  text-align: center;
  color: #424242;
  background-color: #caffc5;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #d6d6d6;
}
.table-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5px;
  padding: 1rem;
}
.table-body-row {
  font-family: "Inter", sans-serif;
  font-size: 12pt;
  font-weight: 500;
  text-align: center;
  color: #424242;
  display: flex;
  flex: 1;
  flex-direction: row;
  border-radius: 8px;
  padding: 1rem;
  text-wrap: wrap;
  word-break: normal;
}
.table-body-row:hover {
  background-color: #efffee;
  font-weight: bold;
  font-size: 12.1pt;
}
.table-foot-row {
  font-family: "Inter", sans-serif;
  font-size: 12pt;
  font-weight: 500;
  color: #424242;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 1rem;
  text-wrap: wrap;
  word-break: normal;
}
.f1 {
  display: flex;
  flex: 1;
}
.f5 {
  display: flex;
  flex: 5;
}
.f3 {
  display: flex;
  flex: 3;
}
.tab-btn {
  width: 210px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  font-weight: bold;
  line-height: 21.09px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #7aba74;
  border-radius: 8px;
  border: 1px solid #a3da9e;
  background-color: #caffc5;
  padding: 25px;
  margin-right: 10px;
}
.tab-btn:hover {
  border: 1px solid #91cc8b;
  background-color: #ebffe9;
}
.tab-btn-clicked {
  width: 200px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  font-weight: bold;
  line-height: 21.09px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 25px;
  margin-right: 10px;
  background-color: #91cc8b;
  color: #ffffff;
  border: 1px solid #7aba74;
}
.copy-td {
  display: flex;
  flex: 5;
  justify-content: flex-end;
}
.download-td {
  display: flex;
  flex: 1;
}
@media screen and (max-width: 799px) {
  .copy-td {
    flex: 1;
    justify-content: center;
    margin-bottom: 10px;
  }
  .table-foot-row {
    flex-direction: column;
    justify-content: space-around;
  }
}
.tab-btn-again {
  width: 210px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  font-weight: bold;
  line-height: 21.09px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #757575;
  border-radius: 8px;
  border: 1px solid #d3d3d3;
  background-color: #eeeeee;
  padding: 25px;
  margin-right: 10px;
}
.tab-btn-again:hover {
  border: 1px solid #d3d3d3;
  background-color: #f6f6f6;
}
.btn-again-wrapper {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
